.box{
    width: 100px;
    height: 100px;
    background: #6524fc;
    border-style: solid;
    border-color: #fcbe24;
}

.box2{
    width: 100px;
    height: 100px;
    background: #6524fc;
    border-style: solid;
    border-color: #fcbe24;
}